body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-image: url("../Images/Comuna25.png");
    background-size: cover;
    background-position: center;
    background-color: #fdfcfc;
    transition: background-color 0.3s, color 0.3s;
  }
  
  fieldset {
    background-color: #222;
    border-color: #555;
    padding: 10px;
    margin: 10px;
    width: 500px;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  legend {
    font-weight: bold;
    padding: 0 10px;
    background-color: #e8dfdf;
    border-color: #555;
  }
  
  .options {
    list-style-type: none;
    padding: 0;
    background: #333;
    color: #eee;
  }
  
  .options li {
    margin: 10px 0;
  }
  
  .options a {
    display: block;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    transition: background 0.3s, color 0.3s;
  }
  
  .options a:hover {
    background: #bbb;
  }
  
  .clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .clock {
    font-size: 2rem;
    font-weight: bold;
    background: #000;
    border: 5px solid #000;
    color: rgba(0, 0, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.8);
  }
  
  .date {
    margin-top: 10px;
    text-align: center;
    background: #fffefe;
    color: #000;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
  }
  
  h1 {
    margin: 20px 0;
    background: #fffefe;
    color: #000;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 1px 1px 2px #fff;
  }
  